<h1 class="page-header">{page_title}</h1>
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
		<!-- begin panel -->
		<div class="panel panel-inverse" data-sortable-id="index-1">
			<div class="panel-heading">
			    <div class="panel-heading-btn">
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
			    </div>
			    <h4 class="panel-title">{judul} {page_title}</h4>
			</div>
			<div class="panel-body">
				<div class="col-sm-12 col-lg-12 col-md-12">
					<div class="col-sm-12 text-right">
						<a id="page_description"></a>
						<a class="btn btn-primary insert update" id='save'><i class="fa fa-save"></i> {proses}</a>
						<a class="btn btn-warning" href='{this_controller}'><i class="fa fa-arrow-left"></i> Kembali</a>
					</div>

					<div class="clear-fix">&nbsp;</div>
					<div class="col-sm-12 col-lg-9 col-md-12">
						<form action='{this_controller}proses/{id_ref_kabupaten}' id='form1' class="form-horizontal">
							<!-- Awal -->
							<div class="form-group no-margin">
								<label class="col-md-3 control-label">Provinsi <i class='req'>*</i></label>
								<div class="col-md-9"><select class='form-control' name='kode_provinsi' id='kode_provinsi' onchange="ajax_filter_select('kode_kabupaten','{this_controller}filter_kab/'+this.value);" data-parsley-required="true">{list_provinsi}</select></div>
							</div>

							<div class="form-group no-margin">
								<label class="col-md-3 control-label">Kd_kab <i class='req'>*</i></label>
								<div class="col-md-9"><input type="text" value="{kode_kab}" data-parsley-required="true" id="kode_kab" class='form-control' name="kode_kab"></div>
							</div>

							<div class="form-group no-margin">
								<label class="col-md-3 control-label">Kode Kabupaten <i class='req'>*</i></label>
								<div class="col-md-9"><input type="text" value="{kode_kabupaten}" data-parsley-required="true" id="kode_kabupaten" class='form-control' name="kode_kabupaten"></div>
							</div>
							<div class="form-group no-margin">
								<label class="col-md-3 control-label">Kabupaten / Kota <i class='req'>*</i></label>
								<div class="col-md-9"><input type="text" value="{kabupaten}" id="title" class='form-control' name="kabupaten" data-parsley-required="true"></div>
							</div>
							<div class="form-group no-margin hidden" id="uri_path_form">
								<label class="col-md-3 control-label">URL <i class='req'>*</i></label>
								<div class="col-md-9">
									<input type="text" value="{uri_path}" id="uri_path" class='form-control' name="uri_path" data-parsley-required="true">
								</div>
							</div>

							<div class="form-group no-margin">
								<label class="col-md-3 control-label">Status <i class='req'>*</i></label>
								<div class="col-md-9"><select class='form-control' name='status_publish' id='status_publish' data-parsley-required="true">{list_status_publish}</select></div>
							</div>

							<!-- Akhir -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="foto">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h4 class="modal-title">view Image</h4>
			</div>
			<div class="modal-body">
				<img id='fotonya' style='max-height:400px'>
			</div>
		</div>
	</div>
</div>

