<div class='row page-title mb-2'>
	<div class='page-title-left'>
		<h4 class='page-title-heading'>{page_title}</h4>
	</div>
	{btn_process}
</div>

<div class="body-table section-row">
	<div class="row">
		<div class="widget-bg">
			<div class="widget-body clearfix">
				<form action='{this_controller}process/{id}' class="form-horizontal" method='post' id='form1' autocomplete="off">
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_group_name} <i class='req'>*</i></label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="name" id="name" value="{name}" data-parsley-required="true">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>