RewriteEngine on
RewriteCond $1 !^(index\.php|images|css|js|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php?/$1 [L,QSA]
AddType text/x-component .htc
RewriteCond %{HTTP_HOST} ^ksi\-indonesia\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.ksi\-indonesia\.org$
RewriteRule ^/?$ "http\:\/\/www\.ksi\-indonesia\.org\/in\/home" [R=301,L]

