<section class="flat-row pad-bottom90px">
    <div class="container">
        <div class="row">
            {content_gallery}
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<script>
    $(document).on('click','.more_list',function (e) {
        e.preventDefault()
        $btn = $(this)
        $.ajax({
            url: $(this).attr('href'),
            type: "GET",
            dataType: 'html',
            error: function (err) {
                alert('error')
            },
            success: function (ret) {
                $btn.parents('.row').append(ret)
                $btn.remove()
            },
        });
    })
</script>