<section class="flat-row pad-bottom90px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section style1">
                    <h1 class="title">{gallery_name}</h1>
                </div><!-- /.title-section -->
            </div>
        </div>
        <div class="row">
            <div class="flat-divider d55px"></div>
        </div>

        <div class="row">
            {content_gallery}
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<script>
    $(document).on('click','.more_list',function (e) {
        e.preventDefault()
        $btn = $(this)
        $.ajax({
            url: $(this).attr('href'),
            type: "GET",
            dataType: 'html',
            error: function (err) {
                alert('error')
            },
            success: function (ret) {
                $btn.parents('.row').append(ret)
                $btn.remove()
            },
        });
    })
</script>