{list_item}
    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="flat-courses">
            <div class="courses-thumbnail">
                <a href="{base_url}gallery/{gallery_uri_path_category}/{gallery_uri_path}"><img src="{base_url}images/article/large/{gallery_img}" alt="image"></a>
                <a class="courses-viewmore" href="{base_url}gallery/{gallery_uri_path_category}/{gallery_uri_path}">Selengkapnya</a>
            </div>
            <div class="courses-content">
                <a href="{base_url}gallery/{gallery_uri_path_category}/{gallery_uri_path}">
                    <h6 class="courses-topic">{gallery_title}</h6>
                </a>
            </div>
        </div><!-- /.flat-courses -->
    </div><!-- /.col-md-3 -->
{/list_item}

<div class="col-md-12 text-center {gallery_more}"><a href="{base_url}gallery/{gallery_uri_path_category}?page={gallery_page}" class="flat-button style1 more_list">Gallery Lainnya</a></div>