<div class='row page-title mb-2'>
	<div class='page-title-left'>
		<h4 class='page-title-heading'>{page_title}</h4>
	</div>
	<div class="set-right-btn">
		<a id='save-profile' class='btn btn-primary'><i class='list-icon feather feather-save mr-2'></i> {lang_update_data}</a>
	</div>
</div>

<div class="body-table section-row">
	<div class="row">
		<div class="widget-bg">
			<div class="widget-body clearfix">
				<form action='{this_controller}process/{id}' class="form-horizontal" method='post' id='form1' autocomplete="off">
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_group_auth}</label>
						<div class="col-md-9">
							<select class='form-control' id="id_auth_user_group" disabled>{list_auth_group}</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_fullname}</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="fullname" id="fullname" value="{fullname}" data-parsley-required="true">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_username}</label>
						<div class="col-md-9">
							<input type="text" class="form-control" id="username" value="{username}" disabled>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_sex}</label>
						<div class="col-md-9">
							<select class='form-control' id="id_ref_gender" name="id_ref_gender" data-parsley-required="true">{list_genders}</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_email}</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="email" id="email" value="{email}" data-parsley-required="true">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_phone_number}</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="phone" id="phone" value="{phone}" data-parsley-required="true">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_profile_picture}</label>
						<div class="col-md-9">{img}</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{imagemanager_config}