{list_item}
    <div class="col-md-4">
        <div class="flat-team style3">
            <article class="entry">
                <div class="entry-border text-center">
                    <a href="{link}">
                        <div class="team-image">
                            <img src="{img}" alt="image">
                        </div><!-- /.feature-post -->
                        <div class="profile">
                            <p class="name">{name}</p>
                            <p class="position">{prodi}</p>
                        </div><!-- /.main-post -->
                    </a>
                </div><!-- /.entry-border -->
            </article><!-- /.entry -->
        </div><!-- /.-->
    </div>
{/list_item}

<div class="col-md-12 text-center {more}"><a href="{link_more}" class="flat-button style1 more_list">Dosen Lainnya</a></div>