{data}
	<tr class="grid-list">
		<td class='text-center'>{nomor}</td>
		<td class='text-left'>{template_name}</td>
		<td class='text-left'>{subject}</div></td>
		<td class='text-left'>{status}</td>
		<td class='text-center'>
			<a href="#" onclick="detail_users({id},'{group_name}')" title="{lang_view_email_tmp}" class="feather feather-search"></a>
			<a href="{this_controller}add/{id}" title="{lang_edit_data}" class="feather feather-edit"></a>
			<a href="#" title="{lang_delete_data}" class="feather feather-trash-2 tangan hapus" id='{id}' data-url-rm="del"></a>
		</td>
	</tr>

	<tr class='grid-normal hide'>
		<td align="left">
			<div class="row mb-2" data-hide='template_name'>
	            <div class="col-md-3"><span class="title-header">{lang_template_name}</span></div>
	            <div class="col-md-4">{template_name}</div>
	        </div>
	        <div class="row mb-2" data-hide='subject'>
	            <div class="col-md-3"><span class="title-header">{lang_subject}</span></div>
	            <div class="col-md-4">{subject}</div>
	        </div>
	        <div class="row mb-2" data-hide='status'>
	            <div class="col-md-3"><span class="title-header">{lang_status}</span></div>
	            <div class="col-md-4">{status}</div>
	        </div>
		</td>
	</tr>
{/data}
<tr class="footer-page">
	<td colspan="10">{paging}</td>
</tr>