<div class="page-title parallax parallax2" style="background-position: 50% 73px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">{page_name}</h1>
                    <div class="breadcrumbs">
                        <ul>
                            {data}
                            <li><a href="{link}">{name}</a></li>
                            {/data}
                        </ul>
                    </div>
                </div><!-- /.page-title-captions -->

            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>