<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="widget widget-text">
                    <img src="{base_url}front_asset/{config_footer_logo}" alt="logo-footer">
                </div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="sidebar-inner-footer">
                    <div class="widget widget-infomation">
                        <ul class="flat-information">
                            <li class="email"><a href="mailto:{config_email} ">{config_email} </a></li>
                            <li class="phone"><a >{config_phone}</a></li>
                            <li class="address">{config_address}</li>

                        </ul>
                    </div>
                </div><!-- /.sidebar-inner-footer -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->

        <div class="row">
            <div class="footer-widgets">
                <div class="col-md-2">
                    <div class="widget widget_categories">
                        <h4 class="widget-title">Jelajahi</h4>
                        <ul>
                            <li><a href="#">Sejarah</a></li>
                            <li><a href="#">Visi Dan Misi</a></li>
                            <li><a href="#">Struktur Organisasi</a></li>
                            <li><a href="#">Lembaga</a></li>
                        </ul>
                    </div><!-- /.widget -->
                </div><!-- /.col-md-2 -->

                <div class="col-md-2">
                    <div class="widget widget_categories">
                        <h4 class="widget-title">&nbsp;</h4>
                        <ul>
                            <li><a href="#">Kerjasama Mitra</a></li>
                            <li><a href="#">Staff Dosen</a></li>
                            <li><a href="#">Fasilitas</a></li>
                            <li><a href="#">Program Pendidikan</a></li>
                        </ul>
                    </div><!-- /.widget -->
                </div><!-- /.col-md-2 -->

                <div class="col-md-2">
                    <div class="widget widget_categories">
                        <h4 class="widget-title">Link Terkait</h4>
                        <ul>
                            <li><a href="#">PDDIKTI</a></li>
                            <li><a href="#">PENDIS KEMENAG RI</a></li>
                            <li><a href="#">MORAREF</a></li>
                            <li><a href="#">DATA EMIS</a></li>
                            <li><a href="#">BAN-PT "PROGRAM STUDI"</a></li>
                        </ul>
                    </div><!-- /.widget -->
                </div><!-- /.col-md-2 -->

                <div class="col-md-6">
                    <div class="widget widget_mc4wp">
                        <div id="mc4wp-form-1" class="form mc4wp-form clearfix">
                            <form method="post">
                                <p> <label>{config_footer_subscribe}</label></p>
                                <p>
                                    <input type="email" name="EMAIL" placeholder="Your email address" required="">
                                    <input type="submit" value="SUBSCRIBE">
                                </p>
                            </form>
                        </div>
                    </div><!-- /.widget_mc4wp -->
                </div><!-- /.col-md-6 -->
            </div><!-- /.footer-widgets -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</footer>

<!-- Bottom -->
<div class="bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="line-top"></div>
            </div>
        </div>
        <div class="row">
            <div class="container-bottom">
                <div class="col-md-6">
                    <div class="copyright">
                        <p>{config_footer_copyright}</p>
                    </div>
                </div><!-- /.col-md-6 -->

                <div class="col-md-6">
                    <ul class="flat-socials text-right">
                        <li class="facebook">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="twitter">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="instagram">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="linkedin">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div><!-- /.col-md-6 -->
            </div><!-- /.container-bottom -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>