<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="language">
                    <ul class="flat-information">
                        <li class="email"><a href="mailto:{config_email}">{config_email}</a></li>
                        <li class="phone"><a >{config_phone}}</a></li>
                    </ul>
                </div><!-- /.language -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="top-navigator">
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#modalRegistrasi">Register</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#modalLogin">Login</a></li>
                    </ul>
                </div><!-- /.top-navigator -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.top -->

<!-- modal -->
<div class="modal fade in" id="modalRegistrasi" tabindex="-1" role="dialog" aria-labelledby="modalRegistrasiTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body media-reg-info">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row-form">
                    <div class="thumb-regInfo">
                        <div class="desc-thumb-regInfo">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacus, id purus pharetra arcu massa at mauris</p>
                        </div>
                    </div>
                    <div class="col-form">
                        <h2>Registrasi</h2>
                        <form action="" class="form-reg-info">
                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    <label for="">Full Name *</label>
                                    <div class="input-group ig-ptiq">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="" aria-label="Username">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-4">
                                    <label for="">Email *</label>
                                    <div class="input-group ig-ptiq">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="" aria-label="Username" required="">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-4">
                                    <label for="">Phone Number *</label>
                                    <div class="input-group ig-ptiq">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="" aria-label="Username" required="">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-4">
                                    <label for="">Address</label>
                                    <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
                                </div>
                                <!-- <div class="col-md-12 mb-3">
                      <img src="images/recapthcha.jpg" alt="">
                    </div> -->
                                <div class="col-md-12 text-center">
                                    <button class="btn flat-button style1">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body media-reg-info">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row-form">
                    <div class="thumb-regInfo">
                        <div class="desc-thumb-regInfo">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacus, id purus pharetra arcu massa at mauris</p>
                        </div>
                    </div>
                    <div class="col-form">
                        <h2>Login</h2>
                        <form action="" class="form-reg-info">
                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    <label for="">Username *</label>
                                    <div class="input-group ig-ptiq">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="" aria-label="Username">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-5">
                                    <label for="">Password *</label>
                                    <div class="input-group ig-ptiq">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="" aria-label="Username" required="">
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="btn flat-button style1">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>