<!DOCTYPE html>
<html lang="en">

    <head>
        <script data-pace-options='{ "ajax": false, "selectors": [ "img" ]}' src="{base_url}template/assets/js/pace.min.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <link rel="icon" type="image/png" sizes="16x16" href="{base_url}template/assets/demo/favicon.png">
        <link rel="stylesheet" href="{base_url}template/assets/css/pace.css">
        
        <title class="no_print">{page_title} | {app_name}</title>
        
        
        <link rel="stylesheet" type="text/css" href="{base_url}template/css/bootstrap-fileupload.min.css">

        
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600|Roboto:400" rel="stylesheet" type="text/css">
        <link href="{base_url}template/assets/vendors/material-icons/material-icons.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{base_url}template/assets/plugins/imagemanager/imagemanager.css">
        <!-- <link href="" rel="stylesheet" type="text/css"> -->
        <link href="{base_url}template/assets/vendors/mono-social-icons/monosocialiconsfont.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/assets/vendors/feather-icons/feather.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/node_modules/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/assets/css/style.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/node_modules/dropzone/css/dropzone.min.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/node_modules/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/node_modules/toast/css/jquery.toast.min.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/node_modules/limonte-sweetalert2/css/sweetalert2.css" rel="stylesheet" type="text/css">

        <!-- CSS DATEPICKER -->
        <link href="{base_url}template/color_admin/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
        <link href="{base_url}template/color_admin/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
        <!-- / CSS DATEPICKER -->

        <!-- Form Validation CSS -->
        <link href="{base_url}template/css/parsley.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/node_modules/selectlist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/node_modules/selectlist/css/select2.min.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/node_modules/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/node_modules/bootstrap-daterangepicker/css/spectrum.min.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/node_modules/bootstrap-daterangepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/node_modules/switchery/css/switchery.min.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/css/custom.css" rel="stylesheet" type="text/css">

        <!-- Script -->

        <script type="text/javascript" src="{base_url}template/node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/jquery/dist/jquery-migrate.min.js"></script>
        <script language="JavaScript" src="{base_url}template/assets/plugins/imagemanager/imagemanager.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/jquery-ui/jquery-ui.min.js"></script>
        <!-- <script type="text/javascript" src="{base_url}template/js/vendor/jquery.number.js"></script> -->
        <script type="text/javascript" src="{base_url}template/js/vendor/jquery.form.js"></script>
        <!-- Lang -->


        <script type="text/javascript" src="{base_url}template/js/ajaxfileupload.js"></script>
        <script type="text/javascript" src="{base_url}template/js/bootstrap-fileupload.min.js"></script>

    
        <script>
            $(document).ready(function() {
                $('select').select2();
            });
            var im="{is_mitra}"; var ai="{auth_insert}"; var au="{auth_update}"; var ad="{auth_delete}"; var admin_name="{nama_admin}"; var page_name="{page_name}"; var base_url="{base_url}"; var this_controller="{this_controller}"; var loading="{lang_loading}"; var profile_picture="{profile_picture}"; var delete_data="{lang_delete_data}"; var success_delete="{lang_delete_success}";var page_name="{page_name}";
        </script>
        <link rel="stylesheet" type="text/css" href="{base_url}template/css/jquery.gritter.css" />
    </head>

    <body class="header-dark sidebar-light sidebar-expand">
        <div id="wrapper" class="wrapper">
            <nav class="navbar no_print">
                <div class="navbar-header">
                    <a href="{base_url}" class="navbar-brand">
                        <img class="logo-expand" alt="" src="{base_url}front_asset/images/logo-ptiq.png">
                        <img class="logo-collapse" alt="" src="{base_url}front_asset/images/logo-ptiq.png">
                        <!-- <p>BonVue</p> -->
                    </a>
                </div>
                
                <ul class="nav navbar-nav">
                    <li class="sidebar-toggle"><a href="javascript:void(0)" class="ripple"><i class="feather feather-menu list-icon fs-20"></i></a>
                    </li>
                </ul>
                
                <div class="spacer"></div>

                <ul class="nav navbar-nav">
                    <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle ripple" data-toggle="dropdown"><span class="avatar thumb-xs2"><img src="{profile_picture}" class="rounded-circle" alt=""> <i class="feather feather-chevron-down list-icon"></i></span></a>
                        <div
                        class="dropdown-menu dropdown-left dropdown-card dropdown-card-profile animated flipInY">
                            <div class="card">
                                <ul class="list-unstyled card-body">
                                    <li>
                                        <a href="{base_url}apps/myaccount">
                                            <span><span class="align-middle">{lang_manage_account}</span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{base_url}apps/change_pw">
                                            <span><span class="align-middle">{lang_change_pw}</span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{base_url}apps/login/logout">
                                            <span><span class="align-middle">{lang_sign_out}</span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                
            </nav>

            <div class="content-wrapper">
                <aside class="site-sidebar scrollbar-enabled no_print" data-suppress-scroll-x="true">
                    <nav class="sidebar-nav">
                        <ul class="nav in side-menu">{menu}</ul>
                    </nav>
                </aside>

                <main class="main-wrapper clearfix">
                    <div class="row page-title clearfix">
                        <div class="page-title-left">
                            <!-- <h6 class="page-title-heading mr-0 mr-r-5">{page_title}</h6>
                            <p class="page-title-description mr-0 d-none d-md-inline-block">statistics, charts and events</p> -->
                        </div>
                        <div class="page-title-right d-none d-sm-inline-flex">
                            <ol class="breadcrumb">{breadcrumb}</ol>
                        </div>
                    </div>
                    {content}
                </main>
                
                <!-- NOT USED -->
                <aside class="right-sidebar scrollbar-enabled suppress-x">
                    <div class="sidebar-chat" data-plugin="chat-sidebar">
                        <div class="sidebar-chat-info">
                            <h6 class="fs-16">Chat List</h6>
                            <form class="mr-t-10">
                                <div class="form-group">
                                    <input type="search" class="form-control form-control-rounded fs-13 heading-font-family pd-r-30" placeholder="Search for friends ..."> <i class="feather feather-search post-absolute pos-right vertical-center mr-3 text-muted"></i>
                                </div>
                            </form>
                        </div>
                        <div class="chat-list">
                            <div class="list-group row">
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Julein Renvoye">
                                    <figure class="thumb-xs user--online mr-3 mr-0-rtl ml-3-rtl">
                                        <img src="{base_url}template/assets/demo/users/user2.jpg" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Gene Newman</span>  <span class="username">@gene_newman</span> </span>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Eddie Lebanovkiy">
                                    <figure class="thumb-xs user--online mr-3 mr-0-rtl ml-3-rtl">
                                        <img src="{base_url}template/assets/demo/users/user3.jpg" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Billy Black</span>  <span class="username">@billyblack</span> </span>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Cameron Moll">
                                    <figure class="thumb-xs user--online mr-3 mr-0-rtl ml-3-rtl">
                                        <img src="{base_url}template/assets/demo/users/user5.jpg" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Herbert Diaz</span>  <span class="username">@herbert</span> </span>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Bill S Kenny">
                                    <figure class="user--busy thumb-xs mr-3 mr-0-rtl ml-3-rtl">
                                        <img src="{base_url}template/assets/demo/users/user4.jpg" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Sylvia Harvey</span>  <span class="username">@sylvia</span> </span>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Trent Walton">
                                    <figure class="user--busy thumb-xs mr-3 mr-0-rtl ml-3-rtl">
                                        <img src="{base_url}template/assets/demo/users/user6.jpg" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Marsha Hoffman</span>  <span class="username">@m_hoffman</span> </span>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Julien Renvoye">
                                    <figure class="user--offline thumb-xs mr-3 mr-0-rtl ml-3-rtl">
                                        <img src="{base_url}template/assets/demo/users/user7.jpg" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Mason Grant</span>  <span class="username">@masongrant</span> </span>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Eddie Lebaovskiy">
                                    <figure class="user--offline thumb-xs mr-3 mr-0-rtl ml-3-rtl">
                                        <img src="{base_url}template/assets/demo/users/user8.jpg" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Shelly Sullivan</span>  <span class="username">@shelly</span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="chat-panel" hidden>
                    <div class="card">
                        <div class="card-header d-flex justify-content-between"><a href="javascript:void(0);"><i class="feather feather-message-square text-success"></i></a>  <span class="user-name heading-font-family fw-400">John Doe</span> 
                            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="widget-chat-activity flex-1">
                                <div class="messages scrollbar-enabled suppress-x">
                                    <div class="message media reply">
                                        <figure class="thumb-xs2 user--online">
                                            <a href="#">
                                                <img src="{base_url}template/assets/demo/users/user3.jpg" class="rounded-circle">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>Epic Cheeseburgers come in all kind of styles.</p>
                                        </div>
                                    </div>
                                    <div class="message media">
                                        <figure class="thumb-xs2 user--online">
                                            <a href="#">
                                                <img src="{base_url}template/assets/images/custom-select.png" class="rounded-circle">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>Cheeseburgers make your knees weak.</p>
                                        </div>
                                    </div>
                                    <div class="message media reply">
                                        <figure class="thumb-xs2 user--offline">
                                            <a href="#">
                                                <img src="{base_url}template/assets/demo/users/user5.jpg" class="rounded-circle">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>Cheeseburgers will never let you down.</p>
                                            <p>They'll also never run around or desert you.</p>
                                        </div>
                                    </div>
                                    <div class="message media">
                                        <figure class="thumb-xs2 user--online">
                                            <a href="#">
                                                <img src="{base_url}template/assets/images/custom-select.png" class="rounded-circle">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>A great cheeseburger is a gastronomical event.</p>
                                        </div>
                                    </div>
                                    <div class="message media reply">
                                        <figure class="thumb-xs2 user--busy">
                                            <a href="#">
                                                <img src="{base_url}template/assets/demo/users/user6.jpg" class="rounded-circle">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>There's a cheesy incarnation waiting for you no matter what you palete preferences are.</p>
                                        </div>
                                    </div>
                                    <div class="message media">
                                        <figure class="thumb-xs2 user--online">
                                            <a href="#">
                                                <img src="{base_url}template/assets/images/custom-select.png" class="rounded-circle">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>If you are a vegan, we are sorry for you loss.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="javascript:void(0)" class="card-footer" method="post">
                            <div class="d-flex justify-content-end"><i class="feather feather-plus-circle list-icon my-1 mr-3"></i>
                                <textarea class="border-0 flex-1" rows="1" style="resize: none" placeholder="Type your message here" type="text"></textarea>
                                <button class="btn btn-sm btn-circle bg-transparent" type="submit"><i class="feather feather-arrow-right list-icon fs-26 text-success"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END NOT USED -->


            </div>
            <!-- <footer class="footer no_print">
                <div class="row">
                    <div class="col-md-4"><p class="text-muted"></p></div>
                    <div class="col-md-4 text-center">&copy; {this_year} {app_name}</div>
                    <div class="col-md-4 text-right"></div>
                </div>
            </footer> -->
        </div>

        <script type="text/javascript" src="{base_url}template/color_admin/plugins/ckeditor/ckeditor.js"></script>
        <script src="{base_url}template/node_modules/modernizr/dist/modernizr.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/selectlist/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/selectlist/js/select2.min.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/switchery/js/switchery.min.js"></script>
        <script type="text/javascript" src="https://cdn.bootcss.com/font-awesome/5.3.1/js/all.min.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/popper/js/popper.min.js"></script>
        <script type="text/javascript" src="{base_url}template/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{base_url}template/js/underscore-min.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/metisMenu/js/metisMenu.min.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/bootstrap-table/js/bootstrap-table.min.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/countUp/js/countUp.min.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/moment/js/moment.min.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/jquery-sparkline/js/jquery.sparkline.min.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/mithril/js/mithril.js"></script>
        <script type="text/javascript" src="{base_url}template/assets/vendors/theme-widgets/widgets.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/toast/js/jquery.toast.min.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/limonte-sweetalert2/js/sweetalert2.min.js"></script>
        <script src="{base_url}template/assets/plugins/parsley/dist/parsley.js"></script>
        <script type="text/javascript" src="{base_url}template/assets/js/theme.js"></script>
        <script type="text/javascript" src="{base_url}template/assets/js/ddi.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/bootstrap-select/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="{base_url}template/node_modules/dropzone/js/dropzone.min.js"></script>
        <script src="{base_url}template/node_modules/bootstrap-daterangepicker/js/spectrum.min.js"></script>
        <script src="{base_url}template/node_modules/bootstrap-daterangepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="{base_url}template/color_admin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="{base_url}template/js/jquery.gritter.js"></script>
        <script type="text/javascript" src="{base_url}template/js/gritter-custome.js"></script>


        <script src="{base_url}template/js/js.js"></script>
        <script src="{base_url}template/js/mygrid.js"></script>
    
    </body>

</html>
