<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="{base_url}template/assets/js/login/pace.min.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <link rel="icon" type="image/png" sizes="16x16" href="{base_url}template/assets/demo/favicon.png">
        <title>{title_page}</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600|Roboto:400" rel="stylesheet" type="text/css">
        <link href="{base_url}template/assets/vendors/material-icons/material-icons.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/assets/vendors/mono-social-icons/monosocialiconsfont.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/assets/vendors/feather-icons/feather.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/assets/css/login/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
        <link href="{base_url}template/assets/css/style.css" rel="stylesheet" type="text/css">
        <script src="{base_url}template/assets/js/login/modernizr.min.js"></script>
        <script type="text/javascript">
            var base_url="{base_url}";this_controller="{this_controller}";var loading="{lang_loading}";
        </script>
    </head>

    <body class="body-bg-full profile-page" style="background-image: url({base_url}template/assets/demo/error-page.jpg)">
        <div id="wrapper" class="row wrapper">
            <div class="container-min-full-height d-flex justify-content-center align-items-center">
                {content}
            </div>
        </div>

        <script type="text/javascript" src="{base_url}template/assets/js/login/jquery.min.js"></script>
        <script type="text/javascript" src="{base_url}template/assets/js/login/bootstrap.min.js"></script>
        <script type="text/javascript" src="{base_url}template/assets/js/material-design.js"></script>
        <script type="text/javascript" src="{base_url}template/assets/js/login/login.js"></script>
    </body>

</html>