<div class='row page-title mb-2'>
	<div class='page-title-left'>
		<h4 class='page-title-heading'>{page_title}</h4>
	</div>
	{btn_process}
</div>

<div class="body-table section-row">
	<div class="row">
		<div class="widget-bg">
			<div class="widget-body clearfix">
				<form action='{this_controller}process/{id}' class="form-horizontal" method='post' id='form1' autocomplete="off">
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_language}</label>
						<div class="col-md-9">
							<select class='form-control' id="id_ref_language" name="id_ref_language">{list_language}</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_pages_name} <i class='req'>*</i></label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="page_name" id="title" value="{page_name}" data-parsley-required="true">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_uri_path} <i class='req'>*</i></label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="uri_path" id="uri_path" value="{uri_path}" data-parsley-required="true">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_teaser} <i class='req'>*</i></label>
						<div class="col-md-9">
							<textarea type="text" class="form-control" name="teaser" id="teaser" data-parsley-required="true">{teaser}</textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_page_content}</label>
						<div class="col-md-9">
							<textarea type="text" class="form-control ckeditor" name="page_content" id="page_content">{page_content}</textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_image}</label>
						<div class="col-md-9">
							{img}
							<div class="notes-image">{lang_notes_image}</div>
							<a class="delete-image" title="{lang_delete_image}" onclick="delete_image()">{lang_delete_image}</a>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_seo_title}</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="seo_title" id="seo_title" value="{seo_title}">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_meta_description}</label>
						<div class="col-md-9">
							<textarea type="text" class="form-control ckeditor" name="meta_description" id="meta_description">{meta_description}</textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="l0">{lang_meta_keyword}</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="meta_keywords" id="meta_keywords" value="{meta_keywords}">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{imagemanager_config}