<section class="flat-row pad-top85px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section style1">
                    <h1 class="title">{page_name}</h1>
                    <div class="desc">
                        <p>{teaser}</p>
                    </div>
                    <div class="text-center">
                        {page_content}
                    </div>
                </div><!-- /.title-section -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div>
</section>