<section class="flat-row parallax parallax3">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section cl-white">
                    <h1 class="title">{page_name}</h1>
                    <div class="desc">
                        <p> {teaser}</p>
                    </div>
                </div><!-- /.title-section -->

                <div class="row">
                    <div class="flat-divider d50px"></div>
                </div>

                <!-- Fillter courses -->
                <div class="row">
                    {pengumuman}
                    <div class="col-md-3 col-sm-6">
                        <div class="wg-border">
                            <a href="{link}" class="title">
                                <h6>{title}</h6>
                            </a>
                            <span>{publish_date}</span>
                        </div>
                    </div>
                    {/pengumuman}
                </div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>