<section class="flat-row">
    <div class="container">
        <div class="row">
            <div class="flat-about-us clearfix">
                <div class="col-md-7">
                    <div class="about-us-img clearfix">
                        {image}
                        <div class="v{index_sejarah}">
                            <div class="overly-img"></div>
                            <img src="{base_url}images/article/large/{img}" alt="image">
                        </div>
                        {/image}
                    </div><!-- /.about-us-img -->
                </div><!-- /.col-md-7 -->

                <div class="col-md-5">
                    <div class="about-us style1">
                        <h2 class="title-about-us">{page_name}</h2>
                        <div class="desc">
                            <p>{teaser}</p>
                            <a href="{base_url}news/detail/{uri_path_category}/{uri_path}" class="flat-button style1">Selengkapnya</a>
                        </div>
                    </div><!-- /.about-us -->
                </div><!-- /.col-md-5 -->
            </div><!-- /.flat-about-us -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->