<section class="flat-row bg-color-themes">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flat-divider d33px"></div>
                <div class="title-section cl-white style3 v3">
                    <h1 class="title">{page_name}</h1>
                    <div class="desc">
                        <p>{teaser}</p>
                    </div>
                    <!-- {page_content} -->
                    <!-- <a class="flat-button style1" href="{base_url}pages/contact">Hubungi Kami</a> -->
                </div>
                <div class="flat-divider d33px"></div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>