<div class="row">
	<label class="col-md-3">{lang_name_contactus}</label>
	<div class="col-md-3">: {fullname}</div>
</div>
<div class="row">
	<label class="col-md-3">{lang_email_contactus}</label>
	<div class="col-md-3">: {email}</div>
</div>
<div class="row">
	<label class="col-md-3">{lang_subyek_contactus}</label>
	<div class="col-md-3">: {subject}</div>
</div>
<div class="row">
	<label class="col-md-3">{lang_message_contactus}</label>
	<div class="col-md-3">: {message}</div>
</div>

{reply}
<div class="row">
	<label class="col-md-3">{lang_message_contactus}</label>
	<div class="col-md-3">: {message}</div>
</div>

	<div class="clearfix">&nbsp;</div>
	<div class="well reply col-md-12">
		<strong>{username}</strong>
		<strong><span class="pull-right">{create_datex}</span></strong>
		<div>{messagex}</div>
	</div>
{/reply}
