{data}

<tr class="grid-list">
	<td align="center">{nomor}</td>
	<td align="left">{name}</td>
	<td align="center">
		<a href="{this_controller}add/{id}" title="{lang_edit_data}" class="feather feather-edit"></a>
		<a href="#" title="{lang_delete_data}" class="feather feather-trash-2 tangan hapus" id='{id}' data-url-rm="del"></a>
	</td>
</tr>

<tr class='grid-normal hide'>
	<td align="left">
		<div class="row mb-2" data-hide='name'>
            <div class="col-md-3"><span class="title-header">{lang_group}</span></div>
            <div class="col-md-4">{name}</div>
        </div>
	</td>
</tr>

{/data}


<tr class="footer-page"><td colspan="11">{paging}</td></tr>